@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

h1 {
  font-family: "Bona Nova SC", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: #ddd;
}
